/* Подключение и настройка шрифтов */
@font-face {
	font-family: "Montserrat-Regular";
	src: url(../fonts/Montserrat-Regular.ttf) format(truetype);
}

@font-face {
	font-family: "Montserrat-SemiBold";
	src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
}

@font-face {
	font-family: "Montserrat-Bold";
	src: url(../fonts/Montserrat-Bold.ttf) format(truetype);
}

@font-face {
	font-family: "OpenSans-SemiBold";
	src: url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
}

@font-face {
	font-family: "OpenSans-Bold";
	src: url(../fonts/Montserrat-Bold.ttf) format(truetype);
}

@font-face {
	font-family: "OpenSans-ExtraBold";
	src: url(../fonts/Montserrat-ExtraBold.ttf) format(truetype);
}

h1 {
	font-family: 'OpenSans-ExtraBold', sans-serif;
	font-weight: 800;
	font-size: 28px;

	text-transform: uppercase;
}

h2 {
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-weight: 600;
	font-size: 24px;

	text-transform: uppercase;
}

h3 {
 font-family: 'OpenSans-SemiBold', sans-serif;
	font-weight: 600;
	font-size: 24px;

	text-transform: uppercase;
}

h4 {
	font-family: 'Montserrat-Bold', sans-serif;
	font-weight: 700;
	font-size: 24px;
}

strong {
	font-family: 'Montserrat-SemiBold', sans-serif;
	font-weight: 600;
	font-size: 24px;
}

p {
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

/* Стандартное оформление ссылок */
* a {
	text-decoration: none;
	transition: all 0.3s;
}

* a:link {
	color: #000000;
}

* a:visited {
	color: #000000;
}

* a:hover {
	color: #AAB5E9;
	text-decoration: underline;
	text-decoration-color: #AAB5E9;
}

* a:active {
	color: #AAB5E9;
}

/* Глобальные переменные */
:root {
	--menu-height: 120px;
}

/* Глобальные стили */
* {
	box-sizing: border-box;
}

body {
	padding: 0px;
	margin: 0px;
}

header footer {
	width: 100%;
}

main {
	padding-top: var(--menu-height);
	padding-right: var(--menu-height);
	padding-left: var(--menu-height);
}

/* Плашка меню */
.menu-inner {
	display: inline-block;

	width: 100%;

	position: fixed;
	z-index: 1;

	align-items: stretch;
}

.desktop-menu {
	display: flex;

	height: var(--menu-height);

	justify-content: space-between;

	background: rgba(255, 255, 255, 1);
}

.desktop-logo {
	width: 300px;
	height: 100px;

	margin: 10px 10px;

	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100%;
}

.desktop-menu-ui {
	display: flex;

	padding: 0px;

	align-items: center;

	list-style: none;
}

.desktop-menu-item {
	margin: 0px 20px;
}

a h2 {
	text-align: center;

	color: #000000;
}

.mobile-menu {
	display: flex;

	flex-direction: column;

	padding: 10px;

	background: #ffffff;
}

.mobile-menu-close {
	display: flex;

	flex-direction: row;

	justify-content: space-between;
}

.mobile-logo {
	width: 100px;
	height: 100px;

	background-image: url(../images/logo-mobile.svg);
	background-color: #ffffff;
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;	
}

.burger {
	display: flex;

	width: 50px;
	height: 50px;

	justify-content: center;
	align-self: center;
}

.burger__img {
	width: 50px;
	height: 50px;
}

.mobile-menu-open {
	display: flex;
	
	justify-content: center;
	align-items: center;

	height: 0px;
}

.mobile-menu-ui {
	display: flex;

	flex-direction: column;

	padding: 0px;

	text-align: center;

	list-style: none;
}

.mobile-menu-item strong {
	color: rgba(0, 0, 0, 0);
}

.mobile-menu-open.opened {
	height: 200px;

	animation-name: menu-open;
	animation-timing-function: linear;

	animation-duration: 1s;
}

@keyframes menu-open {
	from {
		height: 0px;
	}

	to {
		height: 200px;
	}
}

.burger__img.opened {
	transform: rotate(90deg);

	animation-name: rotate-burger-open;
	animation-timing-function: linear;

	animation-duration: 1s;
}

@keyframes rotate-burger-open {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(90deg);
	}
}

.mobile-menu-item.opened strong {
	color: #000000;

	animation-name: menu-text-fadein;
	animation-timing-function: linear;

	animation-duration: 1.5s;
}

@keyframes menu-text-fadein {
	from {
		color: rgba(0, 0, 0, 0);
	}

	20% {
		color: rgba(0, 0, 0, 0);
	}

	to {
		color: #000000;
	}
}

.mobile-menu-open.hidden {
	height: 0px;

	animation-name: menu-close;
	animation-timing-function: linear;

	animation-duration: 1s;
}

@keyframes menu-close {
	from {
		height: 200px;
	}

	to {
		height: 0px;
	}
}

.burger__img.hidden {
	transform: rotate(0deg);

	animation-name: rotate-burger-close;
	animation-timing-function: linear;

	animation-duration: 0.5s;
}

@keyframes rotate-burger-close {
	from {
		transform: rotate(90deg);
	}

	to {
		transform: rotate(0deg);
	}
}

.mobile-menu-item.hidden strong {
	color: rgba(0, 0, 0, 0);

	animation-name: menu-text-fadeout;
	animation-timing-function: linear;

	animation-duration: 0.5s;
}

@keyframes menu-text-fadeout {
	from {
		color: #000000;
	}

	to {
		color: rgba(0, 0, 0, 0);
	}
}

/* Призыв к действию */
.main-call-inner {
	display: flex;
}

.call-img {
	flex: 2;

	background-image: url(../images/call-img.svg);
	background-color: rgba(63, 61, 86, 0.2);
	background-repeat: no-repeat;
 background-position: center end;
 background-size: 100% 100%;
}

.call-action {
	flex: 1;

	display: flex;
	flex-direction: column;

	align-items: center;

	background: rgba(63, 61, 86, 0.8);

	justify-items: center;
}

.call-header {
	flex: 1;

	display: flex;
	flex-direction: column;

	justify-content: flex-end;

	padding: 10px;

	color: #ffffff;
}

.call-header h1 {
	margin: 0px;
}

.call-button {
	flex: 1;

	display: flex;
	flex-direction: column;

	justify-self: flex-start;

	justify-content: flex-start;
	align-items: flex-start;
}

.call-button h3 {
	padding: 35px;

	background: rgba(255, 255, 255, 0.95);

	border: 1px solid rgba(63, 61, 86, 1);
	border-radius: 25px;
}

/* О предоставляемом решении */
.system-inner {
	display: flex;
}

.system-description {
	flex: 1;
}

.system-description-header {
	text-transform: uppercase;

	text-align:  center;
}

.system-img {
	flex: 2;

	margin-top: 35px;

	background-image: url(../images/system-img.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

/* Компетенции */
.competitions-inner {
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;

	padding: 10px;

	background: rgba(63, 61, 86, 0.2);
}

.competitions-list {
	display: flex;

	flex-direction: column;

	position: relative;

	width: 30%;

	padding:  0px;
	margin: 20px 0px;

	align-self: flex-end;

	transform: rotate(-90deg);
	transform-origin: left bottom;

	list-style: none;
}

.competition-list-item {
	--position-X-start: 0px;
	--position-X-end: 0px;

	--position-Y-start: 0px;
	--position-Y-end: 0px;

	display: flex;

	flex-direction: column;

	position: absolute;

	left: var(--position-X-start);
	bottom: 0px;

	width: 70px;
	height: 70px;

	overflow: hidden;
}

.competition-list-item-header {
	display: flex;

	width: 70px;
	height: 70px;

	flex-shrink: 0;

	align-items: center;
 justify-content: center;

	color: rgba(255, 255, 255, 0);

	border: 3px solid rgba(63, 61, 86, 0);
	border-radius: 35px;
}

.competition-list-item-header h3 {
	display: flex;

	margin: 0px;

	justify-content: center;
}

.competition-list-item-text {
	height: 0px;

	margin: 0px 35px;
	padding: 0px 20px;

	color: rgba(255, 255, 255, 0);

	border: 1px solid rgba(63, 61, 86, 0);

	border-top-width: 0px;
	border-bottom-left-radius: 35px;
	border-bottom-right-radius: 35px;
}

.competitions-list.show {
	align-self: flex-start;

	transform: rotate(0deg);

	animation-name: rotate-circles;
	animation-duration: 1s;
}

@keyframes rotate-circles {
	from {
		transform: rotate(-90deg);
	}

	to {
		transform: rotate(0deg);
	}
}

.competition-list-item.show .competition-list-item-header{
	width: 70px;
	height: 70px;

	border: 3px solid rgba(63, 61, 86, 1);

	animation-name: item-race;

	animation-duration: 1s;
}

@keyframes item-race {
	from {
		width: 0px;
		height: 0px;

		border: 3px solid rgba(63, 61, 86, 0);
	}

	to {
		width: 70px;
		height: 70px;

		border: 3px solid rgba(63, 61, 86, 1);
	}
}

.competition-list-item.active {
	left: var(--position-X-end);
	bottom: var(--position-Y-end);

	width: 220%;
	height: 100px;

	overflow: visible;

	animation-name: item-activation;
	animation-duration: 1s;
}

@keyframes item-activation {
	from {
		left: var(--position-X-start);
		bottom: var(--position-Y-start);

		width: 70px;
		height: 70px;
	}

	50% {
		left: var(--position-X-start);
		bottom: var(--position-Y-start);

		width: 70px;
		height: 100px;
	}

	to {
		left: var(--position-X-end);
		bottom: var(--position-Y-end);

		width: 220%;
		height: 100px;
	}
}

.competition-list-item.active .competition-list-item-header {
	width: 100%;

	color: rgba(255, 255, 255, 1);

	border: 3px solid rgba(63, 61, 86, 1);

	background: rgba(63, 61, 86, 1);

	animation-name: header-active-animation;

	animation-duration: 1.5s;
}

@keyframes header-active-animation {
	from {
		width: 70px;

		color: rgba(255, 255, 255, 0);

		background: rgba(63, 61, 86, 0);
	}

	33% {
		width: 70px;

		color: rgba(255, 255, 255, 0);

		background: rgba(63, 61, 86, 1);
	}

	66% {
		color: rgba(255, 255, 255, 0);
	}

	to {
		width: 100%;

		color: rgba(255, 255, 255, 1);

		background: rgba(63, 61, 86, 1);
	}
}

.competition-list-item.active .competition-list-item-text {
	height: 72px;

	color: rgba(0, 0, 0, 1);

	border-color: rgba(63, 61, 86, 1);

	animation-name: text-active-animation;

	animation-duration: 2s;
}

@keyframes text-active-animation {
	from {
		height: 0;

		color: rgba(0, 0, 0, 0);

		border-color: rgba(63, 61, 86, 0);
	}

	50% {
		height: 0;

		color: rgba(0, 0, 0, 0);

		border-color: rgba(63, 61, 86, 0);
	}

	75% {
		color: rgba(0, 0, 0, 0);
	}

	to {
		height: 72px;

		color: rgba(0, 0, 0, 1);

		border-color: rgba(63, 61, 86, 1);
	}
}

.competition-list-item.inactive{
	left: var(--position-X-start);
	bottom: var(--position-Y-start);

	width: 70px;
	height: 70px;

	animation-name: item-disactivation;
	animation-duration: 1s;
}

@keyframes item-disactivation {
	from {
		left: var(--position-X-end);
		bottom: var(--position-Y-end);

		width: 220%;
		height: 100px;
	}

	50% {
		left: var(--position-X-end);
		bottom: var(--position-Y-end);

		width: 220%;
		height: 100px;
	}

	to {
		left: var(--position-X-start);
		bottom: var(--position-Y-start);

		width: 70px;
		height: 70px;
	}
}

.competition-list-item.inactive .competition-list-item-header {
	width: 70px;

	color: rgba(255, 255, 255, 0);

	border: 3px solid rgba(63, 61, 86, 1);

	background: rgba(63, 61, 86, 0);

	animation-name: header-inactive-animation;

	animation-duration: 0.5s;
}

@keyframes header-inactive-animation {
	from {
		width: 100%;

		color: rgba(255, 255, 255, 1);

		background: rgba(63, 61, 86, 1);
	}

	to {
		width: 70px;

		color: rgba(255, 255, 255, 0);

		background: rgba(63, 61, 86, 0);
	}
}

/* О технологии №1 */
.about-technology-1-header {
	text-align: center;
}

.about-technology-1-img {
	min-height: 430px;
	
	background-image: url(../images/about-technology-1-img.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

/* О технологии №2 */
.about-technology-2-inner {
	display: flex;

	flex-direction: column;

	padding-top: 50px;
	padding-bottom: 50px;

	background: rgba(63, 61, 86, 0.2);
}

.cards {
	display: flex;

	flex-direction: row;

	justify-content: space-evenly;

	padding: 0px;

	list-style: none;
}

.card {
	display: flex;

	flex-direction: column;

	align-items: center;

	width: 320px;

	padding: 10px;

	border-radius: 25px;
	background: rgba(63, 61, 86, 0.8);
}

.card-text p {
	text-align: justify;

	color: #ffffff;
}

.shadow {
	min-height: 100px;
	background-image: url(../images/shadow.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

/* Преимущества использования №1 */
.benefits-1-inner {
	display: flex;

	flex-direction: column;
}

.benefits-1-header {
	margin-top: 20px;

	text-align: center;
}

.benefits-1-cards {
	display: flex;

	flex-direction: row;

	justify-content: space-evenly;

	padding: 0px;

	list-style: none;
}

.benefits-1-card {
	width: 320px;

	padding: 20px;
	margin: 20px;

	color: #ffffff;

	border-radius: 25px;
	background: rgba(63, 61, 86, 0.8);
}

.benefits-1-card-logo {
	display: flex;
	justify-content: center;
}

.benefits-1-card-header {
	padding: 0px 50px;

	text-align: center;
}

.card-logo-1,  .card-logo-2, .card-logo-3{
	width: 50px;
	height: 50px;

	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

.card-logo-1 {
	background-image: url(../images/b-card-logo-1.svg);
}

.card-logo-2 {
	background-image: url(../images/b-card-logo-2.svg);
}

.card-logo-3 {
	background-image: url(../images/b-card-logo-3.svg);
}

/* Преимущества использования №2 */
.bn-2-accordion {
	display: flex;

	flex-wrap: wrap;

	align-content: center;
	justify-content: space-between;

	gap: 10%;

	position: relative;

	width: 100%;
	height: 80vh;
}

.accordion__item {
	display: flex;

	flex-direction: column;

	width: 28%;
	height: 30%;
}

.accordion__item__header {
	display: flex;

	flex-shrink: 0;

	align-items: center;

	height: 60%;

	padding: 10px;
	margin: 0px;

	text-align: center;

	color: #ffffff;

	background: #3F3D56;

	border: 1px solid #3F3D56;
	border-radius: 30px;
}

.accordion__item__header h3 {
	margin: 0px;
}

.accordion__item__text p {
	height: 0px;

	padding: 10px;
	margin: 0px;

	color: rgba(255, 255, 255, 0);

	background: #ffffff;
}

.accordion__img {
	position: absolute;

	z-index: -1;

	left: 25%;
	top: 25%;

	width: 50%;
	height: 50%;

	background-image: url(../images/accordion-bg__img.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: contain;
}

.accordion__item__header.open {
 border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	animation-duration: 0.5s;
	animation-name: hide-border;
}

@keyframes hide-border {
	from {
 	border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
	to {
 	border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

.accordion__item__text.open p{
	height: 100%;

	color: #000000;

	border: 1px solid #3F3D56;

 border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;

	animation-duration: 0.5s, 1s;
	animation-name: border-fadein, text-fadein;
}

@keyframes border-fadein {
	from {
		height: 0px;

		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	to {
		height: 100%;

		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}
}

@keyframes text-fadein {
	from {
		color: rgba(255, 255, 255, 0);
	}

	50% {
		color: rgba(255, 255, 255, 0);
	}

	to {
		color: #000000;
	}
}

.accordion__item__header.hidden {
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;

	animation-duration: 1.5s;
	animation-name: show-border;
}

@keyframes show-border {
	from {
 	border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	45% {
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	to {
 	border-bottom-left-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}

.accordion__item__text.hidden p{
	height: 0px;

	color: rgba(255, 255, 255, 0);

	border: 0px solid rgba(255, 255, 255, 0);

 border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;

	animation-duration: 0.5s, 1s;
	animation-name: text-fadeout, border-fadeout;
}

@keyframes border-fadeout {
	from {
		height: 100%;

		border: 1px solid #3F3D56;

		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	50% {
		height: 100%;

		border: 1px solid #3F3D56;

		border-bottom-left-radius: 25px;
		border-bottom-right-radius: 25px;
	}

	90% {
		border: 0px solid rgba(255, 255, 255, 0);
	}

	to {
		height: 0px;

		border: 0px solid rgba(255, 255, 255, 0);

		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

@keyframes text-fadeout {
	from {
		color: #000000;
	}

	to {
		color: rgba(255, 255, 255, 0);
	}
}

/* Наши партнеры */
.partners {
	display: flex;

	flex-direction: column;
}

.partners-header {
	text-align: center;
}

.partner-list {
	display: flex;

	padding: 0px;

	flex-wrap: wrap;

	justify-content: space-evenly;

	list-style: none;
}

.partner {
	display: flex;

	width: 300px;
	height: 300px;

	margin: auto 20px;

	justify-content: center;
	align-items: center;
}

.partn {
	width: 200px;
}

.partn.emitingOn {
	width: 300px;

	animation-duration: 0.25s;
	animation-name: emitingOn;
}

@keyframes emitingOn {
	from {
		width: 200px;
	}
	to {
		width: 300px;
	}
}

.partn.emitingOff {
	width: 200px;

	animation-duration: 0.25s;
	animation-name: emitingOff;
}

@keyframes emitingOff {
	from {
		width: 300px;
	}
	to {
		width: 200px;
	}
}

/* Блок о преимуществах №3 */
.benefits-3-card {
	display: grid;

	grid-template-columns: 1fr 2fr;

	grid-gap: 0px;

	width: 100%;

	margin-bottom: 75px;

	background: rgba(63, 61, 86, 0.4);
	border-radius: 50px;
}

.benefits-3-description {
	align-self: center;

	text-align: center;

	color: #FFFFFF;
}

.benefits-3-nodes {
	padding: 0px;
	margin: 0px;

	display: grid;

	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-gap: 0px;

	list-style: none;

	background: #3F3D56;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.node {
	display: grid;

	grid-template-columns: 100px 1fr;
}

.node-text {
	color: #FFFFFF;
}

.node-icon {
	width: 50px;
	height: 50px;

	align-self: center;
	justify-self: center;
}

/* Эффект от внедрения (слайдер) */
.slider-block {
	background: rgba(63, 61, 86, 0.4);
}

.slider-header {
	padding-top: 40px;

	text-align: center;
}

.item-inner {
	padding: 40px;
}

.item-illustr {
	display: flex;

	flex-direction: row;
}

.item-ill-description {
	display: flex;

	flex-direction: column;
}

.item-ill-header {
	display: flex;

	flex-direction: row;

	align-items: center;

 background: #3F3D56;
 border-top-left-radius: 35px;
	border-bottom-left-radius: 35px;
}

.item-1-ill-header-icon {
	box-sizing: content-box;

	width: 50px;
	height: 50px;

	padding: 10px;

	flex-shrink: 0;

	background-image: url(../images/effect-1.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

.item-ill-header-text {
	color: #ffffff;
}

p strong {
	font-size: 20px;
}

.item-1-img {
	width: 100%;
	height: 400px;

	border: 5px solid #3F3D56;

	background-image: url(../images/slider-img.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

.item-2-ill-header-icon {
	box-sizing: content-box;

	width: 50px;
	height: 50px;

	padding: 10px;

	flex-shrink: 0;

	background-image: url(../images/slider-item-2-icon.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

.item-2-img {
	width: 100%;
	height: 400px;

	border: 5px solid #3F3D56;

	background-image: url(../images/slider-item-2-ill.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

.item-3-ill-header-icon {
	box-sizing: content-box;

	width: 50px;
	height: 50px;

	padding: 10px;

	flex-shrink: 0;

	background-image: url(../images/slider-item-3-icon.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

.item-3-img {
	width: 100%;
	height: 400px;

	border: 5px solid #3F3D56;

	background-image: url(../images/slider-item-3-ill.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100% 100%;
}

/* Форма для обратной связи */
.contact-form-inner {
	display: flex;

	padding-top: 20px;
	margin: 50px 0px;
}

.form-space {
	flex: 1;

	display: flex;

	flex-direction: column;

	align-items: center;
}

.form-group {
	margin: 0px;
}

.my-input {
	width: 100%;

	padding: 5px;

	margin-bottom: 20px;

	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
	font-size: 20px;

	border: 5px solid #3F3D56;
	border-radius: 20px;
}

::placeholder {
	font-family: 'Montserrat-Regular', sans-serif;
	font-weight: 400;
	font-size: 18px;
}

.captcha {
	display: flex;

	flex-direction: row;
	align-items: center;
}

.form-captcha {
	display: flex;

	flex-direction: row;

	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
}

.form-check {
	display: flex;

	margin-top: 20px;

	flex-direction: row;
}

.form-check-input {
	flex-shrink: 0;

	align-self: center;

	margin-right: 10px;
}

.form-check-label p {
	margin: 0px;
}

button h4 {
	margin: 0px;
}

.form-img {
	flex: 1;

	background-image: url(../images/contact-form-img.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100%;
}

.form-img-mobile {
	display: flex;

	position: absolute;

	z-index: -1;

	overflow: hidden;
}

.mobile-form-img {
	width: 80vw;
	height: 80vw;

	background-image: url(../images/contact-form-img.svg);
	background-repeat: no-repeat;
 background-position: center right;
 background-size: 100%;
}

/* О компании */
.about-us-inner {
	display: flex;

	background: rgba(63, 61, 86, 0.2);
}

.about-img {
	flex: 2;

	background-image: url(../images/about-img.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100%;
}

.about-description {
	flex: 1;

	padding: 20px;
}

.descr-header {
	text-align: center;
}

/* Подвал  */
.footer-inner {
	display: flex;

	flex-direction: row;
}

.contacts-block {
	flex: 1;

	padding: 20px;

	color: #ffffff;

	background: rgba(63, 61, 86, 0.8);
}

.contacts-header {
	text-align: center;
}

.contacts {
	padding: 0px;

	list-style: none;
}

.contacts li {
	display: flex;

	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

.contacts-icon {
	display: flex;
	box-sizing: content-box;

	width: 55px;
	height: 55px;

	flex-shrink: 0;

	justify-content: center;
	align-items: center;

	border: 3px solid #3F3D56;
	border-radius: 25px;

	background-color: rgba(63, 61, 86, 0.8);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

.contacts-icon a , .icon {
	width: 40px;
	height: 40px;
}

.footer-img {
	flex: 2;

	border: 5px solid rgba(63, 61, 86, 0.8);

	background-image: url(../images/footer.svg);
	background-repeat: no-repeat;
 background-position: center center;
 background-size: 100% 100%;
}

/* Верстка на телефоны */
@media (min-width: 360px) and (max-width: 767px) {
	:root {
		--menu-height: 0px;
	}

	main {
		padding-top: 120px;
	}

	* a:hover {
		text-decoration: none;
	}

	.desktop-menu, .call-img, .system-img, .benefits-3-inner, .item-1-img, .item-2-img, .item-3-img, .form-img, .form-img-mobile, .about-img, .footer-img {
		display: none;
	}

	.system-description {
		padding: 10px;
	}

	.competition-list-item-header {
		display: flex;

		padding: 10px;

		align-items: stretch;
	}

	.competition-list-item-header h3{
		display: flex;

		align-items: center;
	}

	.competition-list-item.active {
		left: var(--position-X-end);
		top: var(--position-Y-end);
	
		width: 220%;
		height: 100px;
	
		overflow: visible;
	
		animation-name: item-activation;
		animation-duration: 1s;
	}
	
	@keyframes item-activation {
		from {
			left: var(--position-X-start);
			top: var(--position-Y-start);
	
			width: 70px;
			height: 70px;
		}
	
		50% {
			left: var(--position-X-start);
			top: var(--position-Y-start);
	
			width: 70px;
			height: 100px;
		}
	
		to {
			left: var(--position-X-end);
			top: var(--position-Y-end);
	
			width: 220%;
			height: 100px;
		}
	}

	.about-technology-1-img {
		background: rgba(63, 61, 86, 0.2);

		border: 1px solid red;
	}

	.cards {
		flex-direction: column;

		align-items: center;

		gap: 20px;
	}

	.benefits-1-header h2 {
		margin-bottom: 0px;
	}

	.benefits-1-cards {
		flex-wrap: wrap;

		margin-top: 0px;
	}

	.benefits-1-card {
		margin-top: 20px;
	}

	.benefits-3-header {
		text-align: center;
	}

	.benefits-3-cards {
		display: flex;

		flex-direction: column;

		padding: 0px 10px;

		list-style: none;
	}

	.benefits-3-card-mobile {
		padding: 10px;
		margin: 10px;

		color: #ffffff;

		background: rgba(63, 61, 86, 0.8);
		border-radius: 35px;
	}

	.item-ill-header {
		border-radius: 35px;
	}

	.form-space {
		padding: 10px;
	}

	.bn-2-accordion {
		flex-direction: column;

		flex-wrap: nowrap;

		align-items: center;

		height: 100%;
	}

	.accordion__item {
		width: 80%;

		margin-bottom: 25px;

		align-items: center;
	}

	.accordion__item__header {
		width: 100%;
	}

	.accordion__item__header h3 {
		width: 100%;

		font-size: 18px;
	}

	.accordion__item__text {
		width: 100%;
	}

	.accordion__item__text p {
		width: 100%;
		background: rgba(255, 255, 255, 0);
	}

	.accordion__img {
		background: #ffffff;
	}
}

/* Верстка на планшеты */
@media (min-width: 768px) and (max-width: 1023px) {
	:root {
		--menu-height: 0px;
	}

	h4 {
		font-size: 20px;
	}

	p {
		font-size: 18px;
	}

	main {
		padding-top: 120px;
	}

	* a:hover {
		text-decoration: none;
	}
	
	.desktop-menu, .mobile-inner, .form-img {
		display: none;
	}

	.system-description {
		padding: 10px;
		margin-left: 10px;
	}

	.benefits-1-header h2 {
		margin-bottom: 0px;
	}

	.benefits-1-cards {
		flex-wrap: wrap;

		margin-top: 0px;
	}

	.benefits-1-card {
		margin-top: 20px;
	}

	.benefits-3-inner {
		margin: 0px 20px;
	}

	.contact-form-inner {
		justify-content: flex-end;
	}

	.form-space {
		padding: 10px;

		align-items: flex-start;
	}

	form {
		width: 50vw;
	}

	.bn-2-accordion {
		gap: 18%;

		height: 100vh;

		padding: 10px;
	}

	.accordion__item {
		width: 25%;
	}

	.accordion__item__header h3 {
		font-size: 18px;
	}
}

/* Верстка на маленькие ноутбуки */
@media (min-width: 1024px) and (max-width: 1279px){
	:root {
		--menu-height: 120px;
	}

	.mobile-menu, .mobile-inner, .form-img-mobile {
		display: none;
	}

	.desktop-logo {
		width: 200px;
		height: 80px;
	}

	strong {
		font-size: 20px;
	}

	.benefits-1-card {
		width: 250px;
	}

	.benefits-1-card-header {
		padding: 0px;
	}

	.bn-2-accordion {
		gap: 15%;

		height: 100vh;
	}

	.accordion__item {
		width: 25%;
	}

	.accordion__item__header h3 {
		font-size: 20px;
	}
}

/* Верстка на большые экраны */
@media (min-width: 1280px) {
	.mobile-menu, .mobile-inner, .form-img-mobile {
		display: none;
	}
}