@import url(../css/bootstrap.css);
/*----------------------------------------*/
/* Colors */
/*----------------------------------------*/
/* Text */
/* Background */
/* Grid */
/*----------------------------------------*/
.row {
  width: 100%;
  height: 100%;
}
.content-container {
  display: block;
  background-color: #ffffff;
  border: 1px solid #ff0000;
}
/*----------------------------------------*/
/* Функции */
/*----------------------------------------*/
/* Выравнивает блок по центру оси Х */
/* Выравнивает блок по нижнему краю */
/* Размечает текстовый блок */
/*----------------------------------------*/
